aside {
    display: flex;
    flex-basis: 250px;
    flex-direction: column;
    background: #02aab0;
    background: linear-gradient(to right, #00cdac, #02aab0);
    box-shadow: 4px 0px 17px -5px rgba(0, 0, 0, 0.75);
}
